.Details{
    display: grid;
    grid-template-rows: 25vh 170px;
    height: auto;
    width: 80%;
    border-radius: 2rem;
    background-color: rgba(115, 115, 115, 0.07);
    backdrop-filter: blur(4px);
    z-index: 3;
    margin-top: -20vh;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}
.location{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    font-size: 1.4rem;
}
.info_under{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.info_under > div{
    display: flex;
    align-items: center;
    gap: .6rem;
    border: 1px solid rgba(75, 75, 75, 0.4);
    border-radius: 2rem;
    font-size: .9rem;
    padding: .7rem 1.4rem;
    font-weight: 500;
}
.rating > span{
    color: #ff9205;
}