.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 2 * 2rem);
    padding: 0 2rem;
    background-color: rgb(30, 30, 30);
    z-index: 5;
}
.footer nav{
    display: flex;
    justify-content: space-around;
}
.footer nav button{
    padding: .6rem 0;
}
.footer nav span{
    font-size: 2rem;
    color: var(--gray);
    transition: color .4s ease;
}
.footer nav button:hover > span,.footer nav button.active > span{
    color: var(--acscent)
}