.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: top center;
    position: relative;
    align-items: center;
}
.section > div{
    z-index: 1;
    width: 100%;
}
.section h1{
    text-align: center;
    padding: 3rem 0;
    color: #fff;
}