.PopularPlaces{
    padding: 0 10%;
    margin-top: 4rem;
}
.PopularPlaces h2{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.list{
    display: flex;
    position: relative;
    flex-direction: column;
}