.Filters{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
    padding: 1rem .5rem;
}
.Filters button{
    backdrop-filter: blur(15px);
    font-size: 1rem;
    border: 1px solid var(--gray);
    padding: 10%;
    border-radius: 20px;
    color: white;
    transition: .4s;
}
.Filters button.active{
    border: 1px solid var(--acscent);
}
